/*estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 40px;
}
hr {
    margin: 25px 0;
}
img {
    width: 100%;
    object-fit: cover;
}
/*estilos del menu*/
.menu-nav {
    display: flex;
    align-items: center;
}
.logo {
    max-width: 50px;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0 20px;
    gap: 10px;
}
.btn-menu {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
}
.btn-menu-activo {
    border: 4px solid; 
    border-radius: 10px;
    padding: 20px;
    background-color: fuchsia;
    color: black;
}
.btn-menu:hover {
    color: greenyellow;
}
.btn-menu-activo:hover {
    font-weight: bold;
}
/*estilos del contenido PG-inicio*/
.contenido {
    margin: 20px;
}
.publicidad {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portada {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
}
.bandeja {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.tarjeta {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
.tarjeta h2 {
    text-align: center;
}
.tarjeta h3 {
    color: gray;
}
.tarjeta a {
    color: blue;
    text-decoration: none;
    margin-top: 10px;
}
/*estilos del pie*/
.pie {
    border: 4px solid; 
    border-radius: 10px;
    padding: 20px;
    background-color: fuchsia;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
/*galeria*/
.gallery__container {
    width: 90%;
    max-width: 1100%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    gap: 40px;
}
.gallery__container img {
    height: 100%;
}
/*galeria videos*/
.container{
    width: 80%;
    margin: 80px auto;
}
.container h1{
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.small-img-row{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}
.small-img{
    position: relative;
}
.small-img img{
    width: 150px;
}
.small-img-row p{
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 15px;
}
.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.small-img .play-btn{
    width: 35px;
}

.video-player{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: none;
}
video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    cursor: pointer;
}
#myvideo{
    max-height: 100vh;
}
table {
    border: 4px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
tr,td {
border: 4px solid black;
padding: 15px;
}
.fila {
    background-color: fuchsia;
}
body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.contact_form h2, .contact_form label {
    font-family: Georgia, Times, "Times New Roman", serif;
}
.form_hint, .required_notification {
    font-size: 11px;
}
.contact_form ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}
.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}
.contact_form li:first-child, .contact_form li:last-child {
        border-bottom: 1px solid #777;
}
.contact_form h2 {
    margin: 0;
    display: inline;
}

.required_notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}
.contact_form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.contact_form input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.contact_form textarea {
    padding: 8px;
    width: 300px;
}

.contact_form button {
    margin-left: 156px;
}
.contact_form input, .contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.contact_form input:focus, .contact_form textarea:focus {
        background: #fff;
        border: 1px solid #555;
        box-shadow: 0 0 3px #aaa;
        padding-right: 70px;
    }
.contact_form input:required, .contact_form textarea:required {
        background: #fff no-repeat 98% center;
    }

.contact_form input:required:valid, .contact_form textarea:required:valid {
            background: #fff no-repeat 98% center;
            box-shadow: 0 0 5px #5cd053;
            border-color: #28921f;
        }

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
        background: #fff no-repeat 98% center;
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535;
    }
.form_hint {
        background: #d45252;
        border-radius: 3px 3px 3px 3px;
        color: white;
        margin-left: 8px;
        padding: 1px 6px;
        z-index: 999; 
        position: absolute; 
        display: none;
    }
    
.form_hint::before {
            content: "\25C0";
            color: #d45252;
            position: absolute;
            top: 1px;
            left: -6px;
        }
    
.contact_form input:focus + .form_hint {
        display: inline;
    }
    
.contact_form input:required:valid + .form_hint {
        background: #28921f;
    }
    
 .contact_form input:required:valid + .form_hint::before {
            color: #28921f;
        }